.section {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2rem 4rem;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
}

.photoGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  overflow: hidden;
  gap: 1rem;
}
.photoCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: max-content;
  gap: 1rem;
}
